
@tailwind base;
@tailwind components;
@tailwind utilities;



header {
  
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
  }

  .tarjeta{
    height: 525px;
    
  
  }

  .slick-slider {
    display: flex;
    width: 250px;
    margin-bottom: 10vh;
    @media (min-width: 768px) { 
      width: 740px;
     }
  }

  .tarjeta {
    width: 15rem !important;
  }
 
  .description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;  
    bottom: 410px;
    right: 0px;
    margin: 5px;
  
    @media (min-width: 768px) { 
      
      right: 100px; 
    }
  
    @media (min-width: 1024px) { 
      
      right: 250px; 
    }
    @media (min-width: 1280px) { 
    
      right: 350px; 
     }

     @media (min-width: 1536px) { 
      right: 450px; 

      }
  }

  .menuHamburguesa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;

    @media (min-width: 768px) { 
      
      display: inline-block;
    }

  }
  #up{
    background: url('/images/madridcielo.jpg');
    background-size: cover;
    background-position: center;
  
  }

  #quever{
    background: url('/images/madridquever.jpeg');
    background-size: cover;
    background-position: center;
   
  }

  #sobrenosotros{
    background: url('/images/madridsobrenosotros.jpeg');
    background-size: cover;
    background-position: center;

  }

  #comer {
    background: url('/images/madridcomer.jpeg');
    background-size: cover;
    background-position: center;
   
  }
 
  
  header::before {
    content: '';
    background: url('/images/madrid.jpeg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5; /* Ajusta el nivel de opacidad según tus necesidades */
    z-index: -1;
  }
 


  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  #temp {
    height:40px;
  }


  .hwCard {
    height: 160px;
    width: 240px;
  }